<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boy-tiao01.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{84,230}}</string>
                <key>offset</key>
                <string>{17,-139}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,312},{84,230}}</string>
                <key>sourceSize</key>
                <string>{384,576}</string>
            </dict>
            <key>boy-tiao02.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{120,186}}</string>
                <key>offset</key>
                <string>{30,-160}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,355},{120,186}}</string>
                <key>sourceSize</key>
                <string>{384,576}</string>
            </dict>
            <key>boy-tiao03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{158,252}}</string>
                <key>offset</key>
                <string>{31,-117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,279},{158,252}}</string>
                <key>sourceSize</key>
                <string>{384,576}</string>
            </dict>
            <key>boy-tiao04.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,2},{150,278}}</string>
                <key>offset</key>
                <string>{37,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,155},{150,278}}</string>
                <key>sourceSize</key>
                <string>{384,576}</string>
            </dict>
            <key>boy-tiao05.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{108,252}}</string>
                <key>offset</key>
                <string>{-11,-127}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,289},{108,252}}</string>
                <key>sourceSize</key>
                <string>{384,576}</string>
            </dict>
            <key>boy-tiao06.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,2},{134,184}}</string>
                <key>offset</key>
                <string>{44,-162}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,358},{134,184}}</string>
                <key>sourceSize</key>
                <string>{384,576}</string>
            </dict>
            <key>boy-tiao07.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{84,230}}</string>
                <key>offset</key>
                <string>{17,-139}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,312},{84,230}}</string>
                <key>sourceSize</key>
                <string>{384,576}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boyjump.png</string>
            <key>size</key>
            <string>{1024,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:748d377d54e4fb659adcf1584635b24a$</string>
            <key>textureFileName</key>
            <string>boyjump.png</string>
        </dict>
    </dict>
</plist>
