<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boyjumpjian01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,114}}</string>
                <key>offset</key>
                <string>{-11,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,169},{42,114}}</string>
                <key>sourceSize</key>
                <string>{192,288}</string>
            </dict>
            <key>boyjumpjian02.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{62,92}}</string>
                <key>offset</key>
                <string>{-5,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,191},{62,92}}</string>
                <key>sourceSize</key>
                <string>{192,288}</string>
            </dict>
            <key>boyjumpjian03.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{62,106}}</string>
                <key>offset</key>
                <string>{10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,97},{62,106}}</string>
                <key>sourceSize</key>
                <string>{192,288}</string>
            </dict>
            <key>boyjumpjian04.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,2},{54,110}}</string>
                <key>offset</key>
                <string>{-17,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,159},{54,110}}</string>
                <key>sourceSize</key>
                <string>{192,288}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boyjumpjian.png</string>
            <key>size</key>
            <string>{256,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c679816f26e4cca779f3cd53ecf8b399$</string>
            <key>textureFileName</key>
            <string>boyjumpjian.png</string>
        </dict>
    </dict>
</plist>
