<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boywalk01.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{44,116}}</string>
                <key>offset</key>
                <string>{8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,11},{44,116}}</string>
                <key>sourceSize</key>
                <string>{96,144}</string>
            </dict>
            <key>boywalk02.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{40,118}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,9},{40,118}}</string>
                <key>sourceSize</key>
                <string>{96,144}</string>
            </dict>
            <key>boywalk03.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{52,116}}</string>
                <key>offset</key>
                <string>{11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,10},{52,116}}</string>
                <key>sourceSize</key>
                <string>{96,144}</string>
            </dict>
            <key>boywalk04.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{42,116}}</string>
                <key>offset</key>
                <string>{8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,11},{42,116}}</string>
                <key>sourceSize</key>
                <string>{96,144}</string>
            </dict>
            <key>boywalk05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,118}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,9},{40,118}}</string>
                <key>sourceSize</key>
                <string>{96,144}</string>
            </dict>
            <key>boywalk06.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{50,116}}</string>
                <key>offset</key>
                <string>{10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,11},{50,116}}</string>
                <key>sourceSize</key>
                <string>{96,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boywalkxiao.png</string>
            <key>size</key>
            <string>{512,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:22b40b9a1236201c861f57d3cc5e6759$</string>
            <key>textureFileName</key>
            <string>boywalkxiao.png</string>
        </dict>
    </dict>
</plist>
