<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boywalk01.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,2},{134,230}}</string>
                <key>offset</key>
                <string>{-8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,23},{134,230}}</string>
                <key>sourceSize</key>
                <string>{192,288}</string>
            </dict>
            <key>boywalk02.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{126,234}}</string>
                <key>offset</key>
                <string>{-12,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,19},{126,234}}</string>
                <key>sourceSize</key>
                <string>{192,288}</string>
            </dict>
            <key>boywalk03.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{140,234}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,19},{140,234}}</string>
                <key>sourceSize</key>
                <string>{192,288}</string>
            </dict>
            <key>boywalk04.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,2},{134,230}}</string>
                <key>offset</key>
                <string>{-9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,24},{134,230}}</string>
                <key>sourceSize</key>
                <string>{192,288}</string>
            </dict>
            <key>boywalk05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,236}}</string>
                <key>offset</key>
                <string>{-12,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,18},{126,236}}</string>
                <key>sourceSize</key>
                <string>{192,288}</string>
            </dict>
            <key>boywalk06.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{134,232}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,24},{134,232}}</string>
                <key>sourceSize</key>
                <string>{192,288}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boywalk.png</string>
            <key>size</key>
            <string>{1024,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c7c9a7ede5090baaac8dc5dfb3989a87$</string>
            <key>textureFileName</key>
            <string>boywalk.png</string>
        </dict>
    </dict>
</plist>
