<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>大叔行走修正001.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,2},{77,116}}</string>
                <key>offset</key>
                <string>{-14,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,43},{77,116}}</string>
                <key>sourceSize</key>
                <string>{147,180}</string>
            </dict>
            <key>大叔行走修正002.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,2},{81,104}}</string>
                <key>offset</key>
                <string>{-7,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,55},{81,104}}</string>
                <key>sourceSize</key>
                <string>{147,180}</string>
            </dict>
            <key>大叔行走修正003.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,2},{75,108}}</string>
                <key>offset</key>
                <string>{-18,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,51},{75,108}}</string>
                <key>sourceSize</key>
                <string>{147,180}</string>
            </dict>
            <key>大叔行走修正004.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,2},{77,120}}</string>
                <key>offset</key>
                <string>{-11,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,37},{77,120}}</string>
                <key>sourceSize</key>
                <string>{147,180}</string>
            </dict>
            <key>大叔行走修正005.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,2},{75,126}}</string>
                <key>offset</key>
                <string>{-8,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,33},{75,126}}</string>
                <key>sourceSize</key>
                <string>{147,180}</string>
            </dict>
            <key>大叔行走修正006.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{77,116}}</string>
                <key>offset</key>
                <string>{-7,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,45},{77,116}}</string>
                <key>sourceSize</key>
                <string>{147,180}</string>
            </dict>
            <key>大叔行走修正007.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,2},{81,104}}</string>
                <key>offset</key>
                <string>{-12,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,57},{81,104}}</string>
                <key>sourceSize</key>
                <string>{147,180}</string>
            </dict>
            <key>大叔行走修正008.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{75,110}}</string>
                <key>offset</key>
                <string>{-14,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,48},{75,110}}</string>
                <key>sourceSize</key>
                <string>{147,180}</string>
            </dict>
            <key>大叔行走修正009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{77,120}}</string>
                <key>offset</key>
                <string>{-11,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,37},{77,120}}</string>
                <key>sourceSize</key>
                <string>{147,180}</string>
            </dict>
            <key>大叔行走修正010.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,2},{75,128}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,28},{75,128}}</string>
                <key>sourceSize</key>
                <string>{147,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AAA.png</string>
            <key>size</key>
            <string>{1024,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:56c186e0149528e06aa3d9eba7477067$</string>
            <key>textureFileName</key>
            <string>AAA.png</string>
        </dict>
    </dict>
</plist>
